
.problems-list {
    border:1px solid brown;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.contest-controls-div {
    margin: 1em;
}

.leaderboard-table td {
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}
